.comment{"data-comment-id": c.id, "data-endpoint": endpoint}
  .body
    %b
      = c.user.username
    = c.body

  .subtitle
    .item.mr-2
      %a{href: "#", "data-reply": ""}
        reply
    .item.mr-2
      %a{href: "#", "data-cancel": ""}
        cancel
    .item.mr-2
      = time_ago_in_words(c.created_at)


  .reply-form{"id": "comment-#{c.id}"}

  - if c.children
    .parent-comment
      - c.children.each do |child|
        .ml-4
          = render partial: "partials/comment", locals: {c: child, endpoint: "/ideas/#{@idea.id}/comment"}
