= form_for @idea do |p|
  -# once we figure out storage, we can re-enable this
  .custom-file
    -# %label{class: "custom-file-label", for:"customFile"}
    -#   Choose file
    = p.file_field :image, direct_upload: true
    %p
      %small
        (5MB max)
  .form-group
    = p.label :title
    = p.text_field :title, class: "form-control", required: true
  .form-group
    = p.label :description
    = p.hidden_field :description, required: true, id: "x"
    %trix-editor{input: "x", class: "form-control"}
  .form-group
    = p.fields_for :tags, @idea.tags do |t|
      %label
        Tags
        .tag-container
          #idea_tags
  .form-group
    = p.submit
