= form_for @user, url: login_path do |p|
  .form-group
    %label
      Email or Username
    = p.text_field :email
  .form-group
    = p.label :password
    = p.password_field :password
  .form-group
    = p.submit("Login")
