= form_for @user, url: login_path do |p|
  .form-group
    %label
      Email or Username
    = p.text_field :email, class: "form-control"
  .form-group
    = p.label :password
    = p.password_field :password, class: "form-control"
  .form-group
    = p.submit "Log In", class: "btn btn-primary"
