.row
  .col-6.mx-auto.centered-form
    %h2
      #{@user.email}'s profile

    = form_for @user do |p|
      .form-group
        = p.label :username
        = p.text_field :username
      .form-group
        = p.label :years_experience
        = p.number_field :years_experience
      .form-group
        = p.label :website_url
        = p.text_field :website_url
      .form-group
        = p.label :github_url
        = p.text_field :github_url
      = p.submit
