.row
  -# = render "partials/sidebar"
  .col-12
    %h5 Current Deals
    .item-list
      - @products.each do |p|
        .row.item
          .col-2
            %img.item-image{:src => "https://source.unsplash.com/100x100/?nature"}/
          .col-8
            .item-title
              = link_to(p.name, product_path(p.id))
            .price
              = p.price
            .stats
              = p.amount
          .col-2
            = form_for Cart.new, action: carts_path, method: :post do |c|
              = hidden_field_tag(:product_id, p.id)
              = c.submit "Join Drop", class: "btn btn-success"
