.row
  = render "partials/sidebar"
  .col-9
    %h5 New Item
    = form_for @product do |f|
      .form-group
        %label
          Name
        = f.text_field :name, class: "form-control"
      .form-group
        %label
          Price
        = f.text_field :price, class: "form-control"
      .form-group
        %label
          Amount
        = f.text_field :amount, class: "form-control"
      = f.submit "Submit", class: "btn btn-primary"
