.row
  .col-12
    .item.row.my-4
      .col-2
        =image_tag(["tc-flashback", "strymon", "earthquaker", "vox"].sample, class: "item-image card-image-top")
      .col-9
        %h5.item-title
          = @product.name
        %h6.price
          $
          = @product.price
        .stats
          = @product.amount
          left to complete this drop
        %p
          = @product.description
      .col-1
        = form_for Cart.new, action: carts_path(@product.id), method: :post do |c|
          = hidden_field_tag(:product_id, @product.id)
          = c.submit "Join Drop", class: "btn btn-success"
